@charset "UTF-8";
body {
    background: #000;
}

.header {
    height: 1044px;
    position: relative;
    overflow: hidden;
    background: url("../images/bg_header.jpg") no-repeat center;
}

.header .logo {
    position: absolute;
    width: 550px;
    top: 60px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.header .logo a {
    margin-right: 50px;
}

.section {}

.section .section-title {
    text-align: center;
}

.section .section-title img {
    vertical-align: middle;
}

.section .layout {
    width: 1200px;
    margin: 0 auto;
}

.section-2 {
    height: 829px;
    background: url("../images/bg_part_2.jpg") no-repeat center;
}

.section-2 .section-body {
    padding: 70px 0;
}

.section-2 .p1 {
    margin-left: -40px;
    margin-right: -40px;
    margin-bottom: 15px;
    padding: 35px 30px;
    background: #10092a;
}

.section-2 .banner {
    float: left;
    width: 700px;
    height: 370px;
    overflow: hidden;
    padding: 13px;
    background: url("../images/bg_swiper.png") no-repeat center;
}

.section-2 .banner .bannerSwiper {
    width: 700px;
    height: 370px;
    overflow: hidden;
}

.bannerSwiper .swiper-button-next {
    left: 10px;
    right: auto;
    margin-top: -26px;
    width: 30px;
    height: 52px;
    background: url("../images/icon-arrow-swiper-left.png") no-repeat;
}

.bannerSwiper .swiper-button-prev {
    right: 10px;
    left: auto;
    margin-top: -26px;
    width: 30px;
    height: 52px;
    background: url("../images/icon-arrow-swiper-right.png") no-repeat;
}

.section-2 .news {
    float: left;
    margin-left: 30px;
    padding-top: 20px;
}

.section-2 .news .live-tit {
    text-align: center;
    margin-bottom: 35px;
}

.section-2 .news .live-tit img {
    vertical-align: middle;
}

.section-2 .news .news-list {
    width: 460px;
    height: 244px;
    background: url("../images/bg_news_outline.png") no-repeat center;
    overflow: hidden;
}

.section-2 .news .news-list ul {
    padding: 25px 20px 0;
}

.section-2 .news .news-list ul li {
    line-height: 32px;
}

.section-2 .news .news-list ul li a {
    color: #fff;
    font-size: 16px;
}

.section-2 .fb {
    margin-top: 125px;
}

.section-2 .fb ul {
    position: relative;
    width: 100%;
    border-top: 1px solid #284f51;
}

.section-2 .fb ul li {
    position: absolute;
    text-align: center;
    top: -3px;
    width: 25px;
    border-top: 6px solid #22ac38;
}

.section-2 .fb ul li .time {
    position: absolute;
    color: #fff;
    font-size: 20px;
    width: 60px;
    top: -43px;
    left: 50%;
    margin-left: -30px;
}

.section-2 .fb ul li .event {
    position: absolute;
    color: #fff;
    font-size: 18px;
    line-height: 1;
    width: 130px;
    top: 10px;
    left: 50%;
    margin-left: -65px;
}

.section-2 .fb ul li .event span {
    color: #999999;
    font-size: 14px;
    padding-top: 15px;
}

.section-2 .fb ul li.e1 {
    left: 72px;
}

.section-2 .fb ul li.e2 {
    left: 242px;
}

.section-2 .fb ul li.e3 {
    left: 416px;
}

.section-2 .fb ul li.e4 {
    left: 586px;
}

.section-2 .fb ul li.e5 {
    left: 752px;
}

.section-2 .fb ul li.e6 {
    left: 927px;
}

.section-2 .fb ul li.e7 {
    left: 1100px;
}

.section-2 .fb ul li.active {
    border-top: 14px solid #fff45c;
    top: -7px;
}


/**/

.section-3 {
    height: 563px;
    padding-top: 55px;
    background: url('../images/bg_part_3.jpg') no-repeat center;
}

.section-3 .section-body {
    margin: 90px 130px 0;
}

.section-3 .section-body ul li {
    float: left;
}

.section-3 .section-body ul li .img {
    width: 209px;
    height: 186px;
    overflow: hidden;
    position: relative;
    left: -5px;
}

.section-3 .section-body ul li .img img {
    width: 100%;
    vertical-align: middle;
}

.section-3 .section-body ul li.gp1 .img {
    left: 0px;
}

.section-3 .section-body ul li.gp2 .img {
    left: -5px;
}

.section-3 .section-body ul li.gp3 .img {
    left: -10px;
}

.section-3 .section-body ul li.gp4 .img {
    left: -15px;
}

.section-3 .section-body ul li.gp5 .img {
    left: -20px;
}

.section-3 .section-body ul.guest-2 {
    position: relative;
    top: -11px;
    padding-left: 102px;
}


/**/

.section-4 {
    height: 669px;
    padding-top: 50px;
    background: url("../images/bg_part_4.jpg") no-repeat center;
}

.section-4 .section-body {
    margin-top: 55px;
}

.section-4 .live-box {
    width: 809px;
    height: 417px;
    padding: 13px;
    background: url("../images/bg_live_shadow.png") no-repeat center;
    margin: 0 auto;
}


/**/

.section-5 {
    height: 782px;
    padding-top: 50px;
    background: url("../images/bg_part_5.jpg") no-repeat center;
}

.section-5 .section-body {
    margin-top: 60px;
}

.section-5 .ip-list {
    overflow: hidden;
}

.section-5 .ip-list ul {
    margin-right: -55px;
}

.section-5 .ip-list ul li {
    float: left;
    width: 265px;
    height: 276px;
    overflow: hidden;
    margin: 0 48px 45px 0;
}

.section-5 .ip-list ul li .img {
    width: 100%;
    height: 220px;
    overflow: hidden;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.section-5 .ip-list ul li .img img {
    width: 100%;
    vertical-align: middle;
}

.section-5 .ip-list ul li p {
    height: 52px;
    line-height: 58px;
    text-align: center;
    padding-bottom: 4px;
    background: url("../images/bg_ip_title_line.png") no-repeat center bottom;
}

.section-5 .ip-list ul li p a {
    font-size: 20px;
    color: #fff;
}


/**/

.section-6 {
    height: 912px;
    padding-top: 40px;
    background: url("../images/bg_part_6.jpg") no-repeat center;
}

.section-6 .section-body {
    margin-top: 50px;
}

.section-6 .new-list {
    overflow: hidden;
}

.section-6 .new-list ul {
    margin-right: -55px;
}

.section-6 .new-list ul li {
    float: left;
    width: 264px;
    height: 351px;
    overflow: hidden;
    margin: 0 46px 50px 0;
}

.section-6 .new-list ul li .img {
    width: 100%;
    height: 351px;
    overflow: hidden;
}

.section-6 .new-list ul li .img img {
    width: 100%;
    vertical-align: middle;
}


/**/

.section-7 {
    height: 520px;
    padding-top: 50px;
    background: url("../images/bg_part_7.jpg") no-repeat center;
}

.section-7 .section-body {
    margin-top: 75px;
}

.section-7 .game-list {
    overflow: hidden;
}

.section-7 .game-list ul {
    margin-right: -55px;
    font-size: 0;
    text-align: center;
}

.section-7 .game-list ul li {
    display: inline-block;
    width: 277px;
    height: 86px;
    overflow: hidden;
    margin: 0 16px 38px;
}

.section-7 .game-list ul li .img {
    width: 100%;
    height: 86px;
    overflow: hidden;
}

.section-7 .game-list ul li .img img {
    width: 100%;
    vertical-align: middle;
}


/**评论*/

.section-8 {
    background: url("../images/bg_part_7.jpg") repeat-y center;
}

.section-8 .section-body {
    padding-top: 40px;
}

.comment {
    padding-bottom: 100px;
}

.comment .row {
    border-bottom: 1px solid #001c58;
    margin-bottom: 20px;
}

.comment .row h2 {
    display: inline-block;
    padding: 10px 0;
    color: #fff;
    font-size: 18px;
    border-bottom: 2px solid #002e73;
    position: relative;
    bottom: -1px;
}

.comment #global-comments-mod .comments-post-box textarea {
    background: #120d2d;
    border: 1px solid #1d1187;
    color: #fff;
}

.comment #global-comments-mod .comments-post-btn button {
    background: #00a0e9;
}

.comment #global-comments-mod {
    color: #fff;
}

.comment #global-comments-mod .user_name {
    color: #00a0e9;
}

.comment #global-comments-mod .comment_content {
    color: #fff;
}

.comment #global-comments-mod .floor {
    color: #fff;
}

.comment #global-comments-mod .comment_box {
    border-bottom-color: #515151;
}

.comment #global-comments-mod .likes_btn.on {
    color: #f12f7f;
}

.comment #global-comments-mod .replay_btn.on {
    color: #f12f7f;
}

.comment #global-comments-mod .likes_btn i.pinglunico {
    background: none;
}

.comment #global-comments-mod .unlikes_btn i.pinglunico {
    background: none;
}

.comment #global-comments-mod .replay_btn i.pinglunico {
    background: none;
}


/**/

.sider_nav {
    display: none;
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 209px;
    height: 416px;
    margin: auto 0 auto 710px;
    background: url("../images/p_f_nav.png") no-repeat center;
}

.sider_nav .sider_container {
    padding: 128px 24px 0 22px;
}

.sider_nav .sider_container a {
    display: block;
    width: 130px;
    height: 39px;
    text-align: center;
    line-height: 38px;
    color: #fff;
    text-indent: -9999px;
    overflow: hidden;
}

.sider_nav .sider_container a.mr {
    margin-left: 24px;
}

.sider_nav .sider_container a.toTop {
    width: 155px;
    height: 51px;
}